.switch-network-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2) !important;
  background-size: 200% 200% !important;
  animation: gradient-animation 4s ease infinite !important;
}
.switch-network-button:hover {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2) !important;
  background-size: 200% 200% !important;
  animation: gradient-animation 4s ease infinite !important;
}
